<!DOCTYPE html>
<html>
    <head>
        <title>FlickList</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
        <!-- Files included below are from https://www.w3schools.com/bootstrap/bootstrap_get_started.asp -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="/">FlickList</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="/">Watchlist</a></li>
              <li><a href="ratings">Ratings</a></li>
              <li><a href="login">Login</a></li>
              <li><a href="register">Register</a></li> 
            </ul>
          </div>
        </div>
      </nav>
        <div style='float: right'>
          {% if 'user' in session %}
            {{ session['user'] }}
            <form action="/logout" method="post" id='logout'>
              <input type="submit" value="Log Out" />
            </form>
          {% endif %}
        </div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </body>
</html>
