{% extends "base.html" %}

{% block content %}
<h2>Edit My Watchlist</h2>

<form action="/add" method="post">
    <label>
        I want to add
        <input type="text" name="new-movie"/>
        to my watchlist.
    </label>
    <input type="submit" value="Add It"/>
</form>

<form action="/crossoff" method="post">
    <label>
        I want to cross off
        <select name="crossed-off-movie">
            <!-- need to loop over watchlist to create option elements -->
            {% for movie in watchlist: %}
                <option value="{{ movie }}">{{ movie }}</option>
            {% endfor %}
        </select>
        from my watchlist.
    </label>
    <input type="submit" value="Cross It Off"/>
</form>

{% if error %}
  <p class='error'>{{ error }}</p>
{% endif %}
{% endblock %}
